.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 200px;
}

.sk-table table{
    border: 1px solid  rgba(153, 153, 153, 0.986);
} 

.sk-table th{
    border: 1px solid rgba(153, 153, 153, 0.986);
}

.sk-table td {
    border: 1px solid  rgba(153, 153, 153, 0.986);
}

.sk-table .sk-no-border{
    border: 0px;
}

.sk-border-except-bottom {
    border-top:1px solid rgba(153, 153, 153, 0.986) !important;
    border-left:1px solid rgba(153, 153, 153, 0.986) !important;
    border-right:1px solid rgba(153, 153, 153, 0.986) !important;
}

.sk-border-except-top {
    border-bottom:1px solid rgba(153, 153, 153, 0.986) !important;
    border-left:1px solid rgba(153, 153, 153, 0.986) !important;
    border-right:1px solid rgba(153, 153, 153, 0.986) !important;
}